<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel='stylesheet' href='/css/style.css'>
        <script src='/js/app.js'></script>
    </head>
    <body>
        <div class="main-container">
        {{>header}}
        <p>This app uses data through API from 
            <b>
                <a href="https://www.mapbox.com/" target="_blank">mapbox.com</a>
            </b> 
            and 
            <b>
                <a href="https://darksky.net/" target="_blank">darksky.net</a>
            </b>.
        </p>
        <img class="potrait" src="/img/dilipBhoi.jpg"/>
        <p>Created By:- {{name}}</p>
        {{>footer}}
        </div>
    </body>
</html>