<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel='stylesheet' href='/css/style.css'>
    </head>
    <body>
        {{status}}
        <p>Note :- {{message}}</p>
        <p>Put the exact URL</p>
    </body>
</html>